body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	fill: #4A4A4A;
}

.titles, h2, h3, {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.subheader{
  	font-size: 14px;
/*	text-transform: uppercase;*/
	color: #949494;
}

h3 a, h4 a {
	text-decoration: none;
	color: #D3D3D3;
}

.network-icons a{
	padding-left: 15px;
}

.bi {
	font-size: 30px;
	color: #4A4A4A;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 700;
	position: relative;
}

.section-dark {
	color: #fff;
}

#projects h1, #notes h1 {
	margin-top: 30px;
}

section {
	padding-top: 15px;
	padding-bottom: 50px;
}

/* Project borders */
/* #draft {
	margin: 25px 10px 25px 10px;
	border: 1px solid rgba(211, 211, 211, .2);
	border-radius: 25px;
} */

/* Align section h1 vertically */
/* .project-section{
	display: flex;
	justify-content: center;
	align-items: center;
} */

.project-img img{
	height: 100%;
	width: 100%;
}

.project-img {
	margin: auto;
	display: block;
}

